códigos/Node-RED_BASEDEDADOS/Node-RED-PEDROMARTINS.json
[
    {
        "id": "58b53d15ef2c1880",
        "type": "tab",
        "label": "[DONE]ConvertTablestoCSV",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c654b01b5d456952",
        "type": "tab",
        "label": "[DONE]Start+receita",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d6943f15ac82e5a1",
        "type": "tab",
        "label": "[DONE]Status_update",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "44fca6b7766d646b",
        "type": "tab",
        "label": "[DONE]Pendentes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f246e925d7515b16",
        "type": "tab",
        "label": "[TRY]RFID+email",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a9969a7da32b361a",
        "type": "tab",
        "label": "Loginhistory",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "977b3b5d75051a55",
        "type": "tab",
        "label": "Fim_de_Posto",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0cc03acebd801cd4",
        "type": "tab",
        "label": "Login",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "86d4ae48609bd167",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "reservatorio",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "6554019c1bcda015",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dd659d495a360a83",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "28a71897150e6fd5",
        "type": "ui_group",
        "name": "Default",
        "tab": "6554019c1bcda015",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5a48f9df701e4276",
        "type": "MySQLdatabase",
        "name": "MariaBike",
        "host": "193.137.172.20",
        "port": "87",
        "db": "mariabike",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "1f60e74d70ca822d",
        "type": "mqtt-broker",
        "name": "SFP LAB MQTT",
        "broker": "193.137.172.20",
        "port": "85",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "3600",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "2",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "da5aecd9df73aa60",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "934bcdeead255c06",
        "type": "ui_group",
        "name": "User Data",
        "tab": "da5aecd9df73aa60",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2a2254b0786d3d5",
        "type": "ui_tab",
        "name": "ExportedTables",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b9dfc49a7361514e",
        "type": "ui_group",
        "name": "Tabelas",
        "tab": "f2a2254b0786d3d5",
        "order": 1,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "923d82298a12e2e2",
        "type": "inject",
        "z": "58b53d15ef2c1880",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "455863576451ce0d"
            ]
        ]
    },
    {
        "id": "84f9217b1e46cfdd",
        "type": "mysql",
        "z": "58b53d15ef2c1880",
        "mydb": "5a48f9df701e4276",
        "name": "",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "f6e6d9ebcc662a11",
                "b14076947fbebb6c",
                "7eff99e88367e21f"
            ]
        ]
    },
    {
        "id": "f6e6d9ebcc662a11",
        "type": "ui_table",
        "z": "58b53d15ef2c1880",
        "group": "b9dfc49a7361514e",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 310,
        "y": 180,
        "wires": []
    },
    {
        "id": "b14076947fbebb6c",
        "type": "csv",
        "z": "58b53d15ef2c1880",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "ID,Modelo,Data,Operador(es),Quadro",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "fd67bb9b5eaacb36"
            ]
        ]
    },
    {
        "id": "fd67bb9b5eaacb36",
        "type": "file",
        "z": "58b53d15ef2c1880",
        "name": "",
        "filename": "C:\\Users\\firem\\Desktop\\NodeRed-Write\\pendentes.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 600,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "455863576451ce0d",
        "type": "change",
        "z": "58b53d15ef2c1880",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SELECT * FROM pendentes",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "84f9217b1e46cfdd"
            ]
        ]
    },
    {
        "id": "7eff99e88367e21f",
        "type": "debug",
        "z": "58b53d15ef2c1880",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 80,
        "wires": []
    },
    {
        "id": "bf3c2d54f45737d2",
        "type": "inject",
        "z": "58b53d15ef2c1880",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "c719bdc2afce73ef"
            ]
        ]
    },
    {
        "id": "058866ddd712d5d6",
        "type": "mysql",
        "z": "58b53d15ef2c1880",
        "mydb": "5a48f9df701e4276",
        "name": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "0565e8fc23e85eae",
                "45ab66653891b4f9",
                "2653d866e7231a71"
            ]
        ]
    },
    {
        "id": "0565e8fc23e85eae",
        "type": "ui_table",
        "z": "58b53d15ef2c1880",
        "group": "b9dfc49a7361514e",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 310,
        "y": 400,
        "wires": []
    },
    {
        "id": "45ab66653891b4f9",
        "type": "csv",
        "z": "58b53d15ef2c1880",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "ID,Modelo,Data,Operador(es),Quadro",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 330,
        "y": 360,
        "wires": [
            [
                "f845cba3407e7141"
            ]
        ]
    },
    {
        "id": "f845cba3407e7141",
        "type": "file",
        "z": "58b53d15ef2c1880",
        "name": "",
        "filename": "C:\\Users\\firem\\Desktop\\NodeRed-Write\\produzidas.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 600,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c719bdc2afce73ef",
        "type": "change",
        "z": "58b53d15ef2c1880",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SELECT * FROM mariabikes",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 320,
        "wires": [
            [
                "058866ddd712d5d6"
            ]
        ]
    },
    {
        "id": "2653d866e7231a71",
        "type": "debug",
        "z": "58b53d15ef2c1880",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 300,
        "wires": []
    },
    {
        "id": "c9e7bff5254dae41",
        "type": "inject",
        "z": "58b53d15ef2c1880",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 480,
        "wires": [
            [
                "75a961ea8207d4fb"
            ]
        ]
    },
    {
        "id": "fad7ba640bc270ee",
        "type": "mysql",
        "z": "58b53d15ef2c1880",
        "mydb": "5a48f9df701e4276",
        "name": "",
        "x": 180,
        "y": 560,
        "wires": [
            [
                "f3912ad3a9107b0d",
                "27614b361d61790f",
                "3bbabb8591815da7"
            ]
        ]
    },
    {
        "id": "f3912ad3a9107b0d",
        "type": "ui_table",
        "z": "58b53d15ef2c1880",
        "group": "b9dfc49a7361514e",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 330,
        "y": 600,
        "wires": []
    },
    {
        "id": "27614b361d61790f",
        "type": "csv",
        "z": "58b53d15ef2c1880",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "ID,Modelo,Data,Operador(es),Quadro",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 350,
        "y": 560,
        "wires": [
            [
                "962bbe356a4503f5"
            ]
        ]
    },
    {
        "id": "962bbe356a4503f5",
        "type": "file",
        "z": "58b53d15ef2c1880",
        "name": "",
        "filename": "C:\\Users\\firem\\Desktop\\NodeRed-Write\\loginhistory.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 620,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "75a961ea8207d4fb",
        "type": "change",
        "z": "58b53d15ef2c1880",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SELECT * FROM loginhistory",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 520,
        "wires": [
            [
                "fad7ba640bc270ee"
            ]
        ]
    },
    {
        "id": "3bbabb8591815da7",
        "type": "debug",
        "z": "58b53d15ef2c1880",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 500,
        "wires": []
    },
    {
        "id": "cc0bbd2496db7f90",
        "type": "inject",
        "z": "c654b01b5d456952",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "67edfee4d07eb9b5",
                "512212a0701f455a"
            ]
        ]
    },
    {
        "id": "67edfee4d07eb9b5",
        "type": "file in",
        "z": "c654b01b5d456952",
        "d": true,
        "name": "",
        "filename": "C:/Users/firem/Desktop/receita.xlsx",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "c7d819cee2393c4e"
            ]
        ]
    },
    {
        "id": "c7d819cee2393c4e",
        "type": "xlsx",
        "z": "c654b01b5d456952",
        "d": true,
        "name": "receita",
        "sheets": "all",
        "multi": "one",
        "parse": "rows",
        "map": "",
        "x": 230,
        "y": 260,
        "wires": [
            [
                "39e8371ea6f7532e",
                "fd87d1762741732d"
            ]
        ]
    },
    {
        "id": "39e8371ea6f7532e",
        "type": "function",
        "z": "c654b01b5d456952",
        "d": true,
        "name": "function 6",
        "func": "var headers = msg.payload[0];\nvar data = msg.payload.slice(1);\nvar result = [];\n\nfor (var i=0; i<data.length; i++){\n    var obj = {};\n    for (var j=0; j<headers.length; j++){\n        obj[headers[j]] = data[i][j];\n    }\n    result.push(obj);\n\n}\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 260,
        "wires": [
            [
                "4da7ba4c1272c7cd",
                "6f7f860c1d107505"
            ]
        ]
    },
    {
        "id": "4da7ba4c1272c7cd",
        "type": "ui_table",
        "z": "c654b01b5d456952",
        "d": true,
        "group": "934bcdeead255c06",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "columns": [
            {
                "field": "item",
                "title": "item",
                "width": "",
                "align": "left",
                "formatter": "rownum",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "image",
                "title": "image",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "name",
                "title": "name",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "512212a0701f455a",
        "type": "change",
        "z": "c654b01b5d456952",
        "name": "START",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "START",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 40,
        "wires": [
            [
                "c5d127503055684d"
            ]
        ]
    },
    {
        "id": "c5d127503055684d",
        "type": "mqtt out",
        "z": "c654b01b5d456952",
        "name": "",
        "topic": "mariabikestatus",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1f60e74d70ca822d",
        "x": 460,
        "y": 40,
        "wires": []
    },
    {
        "id": "1ac605c125c79b25",
        "type": "mqtt out",
        "z": "c654b01b5d456952",
        "d": true,
        "name": "",
        "topic": "mariabikecolor",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1f60e74d70ca822d",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "fd87d1762741732d",
        "type": "function",
        "z": "c654b01b5d456952",
        "d": true,
        "name": "function 7",
        "func": "var headers = msg.payload[0];\nvar data = msg.payload.slice(1);\nvar result = [];\n\nfor (var i=0; i<data.length; i++){\n    var obj = {};\n    for (var j=0; j<headers.length; j++){\n        obj[headers[j]] = data[i][j];\n    }\n    result.push(obj[headers[1]]);\n\n}\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 320,
        "wires": [
            [
                "1ac605c125c79b25",
                "13148af742c38982"
            ]
        ]
    },
    {
        "id": "13148af742c38982",
        "type": "debug",
        "z": "c654b01b5d456952",
        "d": true,
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "6f7f860c1d107505",
        "type": "debug",
        "z": "c654b01b5d456952",
        "d": true,
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 180,
        "wires": []
    },
    {
        "id": "05456e7b3d041cdb",
        "type": "mqtt in",
        "z": "d6943f15ac82e5a1",
        "name": "",
        "topic": "mariabikestatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60e74d70ca822d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 60,
        "wires": [
            [
                "d2cb4994e36dac67"
            ]
        ]
    },
    {
        "id": "d2cb4994e36dac67",
        "type": "switch",
        "z": "d6943f15ac82e5a1",
        "name": "START/STOP/RESUME",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "START",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "STOP",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "RESUME",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "aa398810d1162e2c",
                "5aeb8b427eb3240b"
            ],
            [
                "6d42f5fd28f68d0c"
            ],
            [
                "6801f3f3ef98d52f"
            ]
        ]
    },
    {
        "id": "aa398810d1162e2c",
        "type": "change",
        "z": "d6943f15ac82e5a1",
        "name": "Criar bicicleta nas PENDENTES",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "INSERT INTO pendentes (Estado) VALUES ('Produzindo')",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 40,
        "wires": [
            [
                "a47f9be3e3efd5f4"
            ]
        ]
    },
    {
        "id": "6d42f5fd28f68d0c",
        "type": "change",
        "z": "d6943f15ac82e5a1",
        "name": "Update estado PENDENTES 'Paragem'",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "UPDATE pendentes SET Estado = 'Paragem'",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "a47f9be3e3efd5f4"
            ]
        ]
    },
    {
        "id": "6801f3f3ef98d52f",
        "type": "change",
        "z": "d6943f15ac82e5a1",
        "name": "Update estado PENDENTES 'Produzindo'",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "UPDATE pendentes SET Estado = 'Produzindo'",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 180,
        "wires": [
            [
                "a47f9be3e3efd5f4"
            ]
        ]
    },
    {
        "id": "a47f9be3e3efd5f4",
        "type": "mysql",
        "z": "d6943f15ac82e5a1",
        "mydb": "5a48f9df701e4276",
        "name": "",
        "x": 900,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "4a72d5e8cf033988",
        "type": "delay",
        "z": "d6943f15ac82e5a1",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 80,
        "wires": [
            [
                "a47f9be3e3efd5f4"
            ]
        ]
    },
    {
        "id": "5aeb8b427eb3240b",
        "type": "function",
        "z": "d6943f15ac82e5a1",
        "name": "function 23",
        "func": "msg.topic = `UPDATE pendentes SET Operador='${global.get('Operador1')}' ORDER BY ID ASC LIMIT 1;`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 80,
        "wires": [
            [
                "4a72d5e8cf033988"
            ]
        ]
    },
    {
        "id": "9df92eba15374f09",
        "type": "mqtt in",
        "z": "44fca6b7766d646b",
        "name": "",
        "topic": "Componentelink",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60e74d70ca822d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 40,
        "wires": [
            [
                "ce9f805603e94bbc"
            ]
        ]
    },
    {
        "id": "588c72e221dc1ad3",
        "type": "inject",
        "z": "44fca6b7766d646b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "01 02 03",
        "payloadType": "str",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "ce9f805603e94bbc"
            ]
        ]
    },
    {
        "id": "ce9f805603e94bbc",
        "type": "function",
        "z": "44fca6b7766d646b",
        "name": "Global set qrcode1",
        "func": "global.set(\"qrcode1\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 40,
        "wires": [
            [
                "f5b77038061a6c18"
            ]
        ]
    },
    {
        "id": "f5b77038061a6c18",
        "type": "debug",
        "z": "44fca6b7766d646b",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 80,
        "wires": []
    },
    {
        "id": "9b950d2186c44292",
        "type": "mqtt in",
        "z": "44fca6b7766d646b",
        "name": "",
        "topic": "Componente",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60e74d70ca822d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 340,
        "wires": [
            [
                "091b6297cff62521",
                "5be2fdcf26006a96"
            ]
        ]
    },
    {
        "id": "091b6297cff62521",
        "type": "function",
        "z": "44fca6b7766d646b",
        "name": "function 15",
        "func": "const struct=msg.payload;\n\n\nfor (const key in struct) {\n  if (struct[key]) {\n    msg.payload = key;\n    return msg;\n  }\n}\n\n// If no key is found to be true, return an empty payload\nmsg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 340,
        "wires": [
            [
                "9b50dd9bcda9bbec",
                "1873107320268a9a"
            ]
        ]
    },
    {
        "id": "a148e67ee76ad8b7",
        "type": "inject",
        "z": "44fca6b7766d646b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SuporteMatricula",
        "payloadType": "str",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "9b50dd9bcda9bbec"
            ]
        ]
    },
    {
        "id": "9b50dd9bcda9bbec",
        "type": "function",
        "z": "44fca6b7766d646b",
        "name": "function 16",
        "func": "\n\nmsg.topic = `UPDATE pendentes SET ${msg.payload}='${global.get('qrcode1')}' ORDER BY ID DESC LIMIT 1`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 340,
        "wires": [
            [
                "1f55e80e52eef7ee",
                "f7bb0ba74901da3a"
            ]
        ]
    },
    {
        "id": "1f55e80e52eef7ee",
        "type": "debug",
        "z": "44fca6b7766d646b",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "f7bb0ba74901da3a",
        "type": "mysql",
        "z": "44fca6b7766d646b",
        "mydb": "5a48f9df701e4276",
        "name": "",
        "x": 620,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "1873107320268a9a",
        "type": "mqtt out",
        "z": "44fca6b7766d646b",
        "name": "",
        "topic": "esp32_103268/leds",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1f60e74d70ca822d",
        "x": 350,
        "y": 400,
        "wires": []
    },
    {
        "id": "fa77d038479dc0a7",
        "type": "mqtt in",
        "z": "44fca6b7766d646b",
        "name": "",
        "topic": "Componente2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60e74d70ca822d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 460,
        "wires": [
            [
                "5054265ddbdf886f"
            ]
        ]
    },
    {
        "id": "5054265ddbdf886f",
        "type": "function",
        "z": "44fca6b7766d646b",
        "name": "function 17",
        "func": "const struct = msg.payload\n\n\nfor (const key in struct) {\n  if (struct[key]) {\n    msg.payload = key;\n    return msg;\n  }\n}\n\n// If no key is found to be true, return an empty payload\nmsg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 460,
        "wires": [
            [
                "28e088e014039a7c",
                "3d58e85fe57f0a31"
            ]
        ]
    },
    {
        "id": "e1bc4086fc59622f",
        "type": "inject",
        "z": "44fca6b7766d646b",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Suporte Matricula\":false,\"Calipers tras\":false,\"Roda\":false,\"Escora\":false,\"Conjunto no Quadro\":false,\"Posto assento\":false,\"Calipers frente\":false,\"Roda frente\":false,\"Forquilha\":false,\"ApoioGuiador\":true,\"Manetes travao\":false,\"Acelerador\":false,\"Guiador\":false}",
        "payloadType": "str",
        "x": 90,
        "y": 520,
        "wires": [
            [
                "5054265ddbdf886f"
            ]
        ]
    },
    {
        "id": "28e088e014039a7c",
        "type": "function",
        "z": "44fca6b7766d646b",
        "name": "function 18",
        "func": "\n\nmsg.topic = `UPDATE pendentes SET ${msg.payload}='${global.get('qrcode2')}' ORDER BY ID ASC LIMIT 1`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 460,
        "wires": [
            [
                "6438177c25b7c665",
                "cccda6b5dcb3dec9"
            ]
        ]
    },
    {
        "id": "6438177c25b7c665",
        "type": "debug",
        "z": "44fca6b7766d646b",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 460,
        "wires": []
    },
    {
        "id": "cccda6b5dcb3dec9",
        "type": "mysql",
        "z": "44fca6b7766d646b",
        "mydb": "5a48f9df701e4276",
        "name": "",
        "x": 620,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "3d58e85fe57f0a31",
        "type": "mqtt out",
        "z": "44fca6b7766d646b",
        "name": "",
        "topic": "esp32_103268/leds",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1f60e74d70ca822d",
        "x": 310,
        "y": 520,
        "wires": []
    },
    {
        "id": "47d6c8cf699d0913",
        "type": "mqtt in",
        "z": "44fca6b7766d646b",
        "name": "",
        "topic": "qr_codes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60e74d70ca822d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 160,
        "wires": [
            [
                "af5c711c13b719d2"
            ]
        ]
    },
    {
        "id": "a62ef4addab37c20",
        "type": "inject",
        "z": "44fca6b7766d646b",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "01 02 03",
        "payloadType": "str",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "af5c711c13b719d2"
            ]
        ]
    },
    {
        "id": "af5c711c13b719d2",
        "type": "function",
        "z": "44fca6b7766d646b",
        "name": "Global set qrcode2",
        "func": "global.set(\"qrcode2\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 160,
        "wires": [
            [
                "ae972a87a3c064b6"
            ]
        ]
    },
    {
        "id": "ae972a87a3c064b6",
        "type": "debug",
        "z": "44fca6b7766d646b",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 200,
        "wires": []
    },
    {
        "id": "5be2fdcf26006a96",
        "type": "debug",
        "z": "44fca6b7766d646b",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 280,
        "wires": []
    },
    {
        "id": "25894f29a2edb846",
        "type": "function",
        "z": "f246e925d7515b16",
        "name": "function 19",
        "func": "msg.topic = `UPDATE mariabikes SET TAG='${msg.payload}' ORDER BY ID DESC LIMIT 1`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 60,
        "wires": [
            [
                "807c3c4fc3aa30b2"
            ]
        ]
    },
    {
        "id": "807c3c4fc3aa30b2",
        "type": "mysql",
        "z": "f246e925d7515b16",
        "mydb": "5a48f9df701e4276",
        "name": "",
        "x": 740,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "126c34803090513d",
        "type": "e-mail",
        "z": "f246e925d7515b16",
        "server": "smtp.office365.com",
        "port": "587",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": false,
        "name": "pedrogfernandes@ua.pt",
        "dname": "",
        "x": 850,
        "y": 200,
        "wires": []
    },
    {
        "id": "b17f9d510c508879",
        "type": "function",
        "z": "f246e925d7515b16",
        "name": "function 20",
        "func": "msg.topic = 'New product has been manufactured!';\nmsg.payload = 'Hello there,\\n\\nA new model of the MariaBike has been built, business is good.\\n\\n\\n\\nHave a nice day!\\nAutomatically generated email by MariaBike SuperBot.'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 200,
        "wires": [
            [
                "126c34803090513d"
            ]
        ]
    },
    {
        "id": "2ba5bf46a7e52335",
        "type": "mqtt in",
        "z": "f246e925d7515b16",
        "name": "",
        "topic": "rfid",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60e74d70ca822d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 60,
        "wires": [
            [
                "7fd190886ddd2896"
            ]
        ]
    },
    {
        "id": "7fd190886ddd2896",
        "type": "switch",
        "z": "f246e925d7515b16",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "FF0000000000",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 60,
        "wires": [
            [
                "25894f29a2edb846",
                "531bcc66167449b0",
                "b17f9d510c508879"
            ]
        ]
    },
    {
        "id": "531bcc66167449b0",
        "type": "debug",
        "z": "f246e925d7515b16",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "541a5b4e2a84da19",
        "type": "mqtt in",
        "z": "a9969a7da32b361a",
        "name": "",
        "topic": "MITloginoperador1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60e74d70ca822d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 40,
        "wires": [
            [
                "6bebdcb5d5117767",
                "0f42209c5e3ff6a8"
            ]
        ]
    },
    {
        "id": "fa93581536e9bb14",
        "type": "mqtt in",
        "z": "a9969a7da32b361a",
        "name": "",
        "topic": "MITlogoutoperador2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60e74d70ca822d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 560,
        "wires": [
            [
                "137dc5334bc6bb38",
                "040fbb7e1f47e48d"
            ]
        ]
    },
    {
        "id": "50a56f0151f0d953",
        "type": "mqtt in",
        "z": "a9969a7da32b361a",
        "name": "",
        "topic": "MITlogoutoperador1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60e74d70ca822d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "eb4a666451a308b7",
                "4c8f10af51467f1f"
            ]
        ]
    },
    {
        "id": "1a10b0c2061a7760",
        "type": "mqtt in",
        "z": "a9969a7da32b361a",
        "name": "",
        "topic": "MITloginoperador2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60e74d70ca822d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "8a7452a604063e25",
                "60e2643bd9f60a33"
            ]
        ]
    },
    {
        "id": "6bebdcb5d5117767",
        "type": "function",
        "z": "a9969a7da32b361a",
        "name": "Global set OPERADOR1",
        "func": "global.set(\"Operador1\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "8a7452a604063e25",
        "type": "function",
        "z": "a9969a7da32b361a",
        "name": "Global set OPERADOR2",
        "func": "global.set(\"Operador2\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "137dc5334bc6bb38",
        "type": "function",
        "z": "a9969a7da32b361a",
        "name": "Global set OPERADOR2 = ' '",
        "func": "global.set(\"Operador2\", '')\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "eb4a666451a308b7",
        "type": "function",
        "z": "a9969a7da32b361a",
        "name": "Global set OPERADOR1 = ' '",
        "func": "global.set(\"Operador1\", '')\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "38a392ee81ef9fbe",
        "type": "mysql",
        "z": "a9969a7da32b361a",
        "mydb": "5a48f9df701e4276",
        "name": "",
        "x": 680,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4c8f10af51467f1f",
        "type": "change",
        "z": "a9969a7da32b361a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "UPDATE loginhistory SET Saida=CURRENT_TIMESTAMP WHERE Posto=1 ORDER BY ID DESC LIMIT 1 ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 280,
        "wires": [
            [
                "287768c96c94b8a2"
            ]
        ]
    },
    {
        "id": "287768c96c94b8a2",
        "type": "mysql",
        "z": "a9969a7da32b361a",
        "mydb": "5a48f9df701e4276",
        "name": "",
        "x": 540,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "fe3639d07074551d",
        "type": "mysql",
        "z": "a9969a7da32b361a",
        "mydb": "5a48f9df701e4276",
        "name": "",
        "x": 540,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "a210bcdfffc1abf9",
        "type": "mysql",
        "z": "a9969a7da32b361a",
        "mydb": "5a48f9df701e4276",
        "name": "",
        "x": 540,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "558d7a740199c75f",
        "type": "inject",
        "z": "a9969a7da32b361a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Asajj Ventress",
        "payloadType": "str",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "6bebdcb5d5117767",
                "0f42209c5e3ff6a8"
            ]
        ]
    },
    {
        "id": "0f42209c5e3ff6a8",
        "type": "function",
        "z": "a9969a7da32b361a",
        "name": "function 24",
        "func": "msg.topic = `INSERT INTO loginhistory (Nome,Posto) VALUES ('${msg.payload}',1)`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 100,
        "wires": [
            [
                "38a392ee81ef9fbe"
            ]
        ]
    },
    {
        "id": "040fbb7e1f47e48d",
        "type": "change",
        "z": "a9969a7da32b361a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "UPDATE loginhistory SET Saida=CURRENT_TIMESTAMP WHERE Posto=2 ORDER BY ID DESC LIMIT 1 ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 620,
        "wires": [
            [
                "a210bcdfffc1abf9"
            ]
        ]
    },
    {
        "id": "7588987b35ca843a",
        "type": "inject",
        "z": "a9969a7da32b361a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "4c8f10af51467f1f",
                "eb4a666451a308b7"
            ]
        ]
    },
    {
        "id": "75ed7cfdea3fd8f3",
        "type": "inject",
        "z": "a9969a7da32b361a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Darth Vader",
        "payloadType": "str",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "8a7452a604063e25",
                "60e2643bd9f60a33"
            ]
        ]
    },
    {
        "id": "9e3a79cb5297daac",
        "type": "inject",
        "z": "a9969a7da32b361a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 620,
        "wires": [
            [
                "040fbb7e1f47e48d",
                "137dc5334bc6bb38"
            ]
        ]
    },
    {
        "id": "60e2643bd9f60a33",
        "type": "function",
        "z": "a9969a7da32b361a",
        "name": "function 28",
        "func": "msg.topic = `INSERT INTO loginhistory (Nome,Posto) VALUES ('${msg.payload}',2)`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 480,
        "wires": [
            [
                "fe3639d07074551d"
            ]
        ]
    },
    {
        "id": "dfee94245e13add9",
        "type": "mqtt in",
        "z": "977b3b5d75051a55",
        "name": "",
        "topic": "rfid",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60e74d70ca822d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 540,
        "wires": [
            [
                "c48478367daa10d9",
                "10b3a17127cc34c3",
                "522acd35f171be2e",
                "5778d8f61e77ea44",
                "532a6dc3d8b3be7a"
            ]
        ]
    },
    {
        "id": "6d4932ebf3df3432",
        "type": "mqtt in",
        "z": "977b3b5d75051a55",
        "name": "",
        "topic": "qrcode_espcam",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60e74d70ca822d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 60,
        "wires": [
            [
                "390f2484f5b0d626",
                "eef05e71b2766690",
                "c7dbc5e6e21dfeca",
                "3199b1c6e5e3db70"
            ]
        ]
    },
    {
        "id": "5778d8f61e77ea44",
        "type": "change",
        "z": "977b3b5d75051a55",
        "name": "Set estado como Finalizado where MAX ID",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "UPDATE pendentes SET Estado='Finalizado' ORDER BY ID ASC LIMIT 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 540,
        "wires": [
            [
                "e5061293534e12d4"
            ]
        ]
    },
    {
        "id": "80dc1bdc9a29e0f3",
        "type": "change",
        "z": "977b3b5d75051a55",
        "d": true,
        "name": "Set Operadores como Existing + OPERADOR2 where min ID",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "UPDATE pendentes SET Operador = CONCAT(Operador, ', ', global.get(\"Operador2\")) WHERE id = min(id);",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 60,
        "wires": [
            [
                "a09f3bee30ebc585"
            ]
        ]
    },
    {
        "id": "a09f3bee30ebc585",
        "type": "mysql",
        "z": "977b3b5d75051a55",
        "mydb": "5a48f9df701e4276",
        "name": "",
        "x": 960,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "e5061293534e12d4",
        "type": "mysql",
        "z": "977b3b5d75051a55",
        "mydb": "5a48f9df701e4276",
        "name": "",
        "x": 820,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "522acd35f171be2e",
        "type": "delay",
        "z": "977b3b5d75051a55",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 280,
        "y": 620,
        "wires": [
            [
                "b7457307100c955a"
            ]
        ]
    },
    {
        "id": "390f2484f5b0d626",
        "type": "delay",
        "z": "977b3b5d75051a55",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 60,
        "wires": [
            [
                "80dc1bdc9a29e0f3",
                "4d5c021eadb447a7"
            ]
        ]
    },
    {
        "id": "eef05e71b2766690",
        "type": "file in",
        "z": "977b3b5d75051a55",
        "name": "",
        "filename": "C:/Users/firem/Desktop/receita.xlsx",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 400,
        "y": 180,
        "wires": [
            [
                "33af1d4e3588aae3"
            ]
        ]
    },
    {
        "id": "33af1d4e3588aae3",
        "type": "xlsx",
        "z": "977b3b5d75051a55",
        "name": "receita",
        "sheets": "all",
        "multi": "one",
        "parse": "rows",
        "map": "",
        "x": 590,
        "y": 220,
        "wires": [
            [
                "d4ea7fe8b51808d3",
                "6c4d9ae25414eff8"
            ]
        ]
    },
    {
        "id": "d4ea7fe8b51808d3",
        "type": "function",
        "z": "977b3b5d75051a55",
        "name": "function 11",
        "func": "var headers = msg.payload[0];\nvar data = msg.payload.slice(1);\nvar result = [];\n\nfor (var i=0; i<data.length; i++){\n    var obj = {};\n    for (var j=0; j<headers.length; j++){\n        obj[headers[j]] = data[i][j];\n    }\n    result.push(obj);\n\n}\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 200,
        "wires": [
            [
                "6a03da96d4687350",
                "188919f148a46b1f"
            ]
        ]
    },
    {
        "id": "6a03da96d4687350",
        "type": "ui_table",
        "z": "977b3b5d75051a55",
        "group": "934bcdeead255c06",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "columns": [
            {
                "field": "item",
                "title": "item",
                "width": "",
                "align": "left",
                "formatter": "rownum",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "image",
                "title": "image",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "name",
                "title": "name",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 910,
        "y": 200,
        "wires": []
    },
    {
        "id": "6c4d9ae25414eff8",
        "type": "function",
        "z": "977b3b5d75051a55",
        "name": "function 12",
        "func": "var headers = msg.payload[0];\nvar data = msg.payload.slice(1);\nvar result = [];\n\nfor (var i=0; i<data.length; i++){\n    var obj = {};\n    for (var j=0; j<headers.length; j++){\n        obj[headers[j]] = data[i][j];\n    }\n    result.push(obj[headers[1]]);\n\n}\nmsg.payload = result;\nglobal.set('Cor',msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 260,
        "wires": [
            [
                "970d6c9dfde496c8"
            ]
        ]
    },
    {
        "id": "970d6c9dfde496c8",
        "type": "debug",
        "z": "977b3b5d75051a55",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 260,
        "wires": []
    },
    {
        "id": "188919f148a46b1f",
        "type": "debug",
        "z": "977b3b5d75051a55",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 160,
        "wires": []
    },
    {
        "id": "4d5c021eadb447a7",
        "type": "function",
        "z": "977b3b5d75051a55",
        "name": "function 21",
        "func": "msg.topic = `UPDATE pendentes SET Operador=CONCAT(Operador, ', ${global.get('Operador2')}') ORDER BY ID ASC LIMIT 1`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 100,
        "wires": [
            [
                "a09f3bee30ebc585"
            ]
        ]
    },
    {
        "id": "c48478367daa10d9",
        "type": "function",
        "z": "977b3b5d75051a55",
        "name": "function 22",
        "func": "msg.topic = `UPDATE pendentes SET Cor='${global.get('Cor')}' ORDER BY ID ASC LIMIT 1;`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 580,
        "wires": [
            [
                "e5061293534e12d4"
            ]
        ]
    },
    {
        "id": "48da84b09e639e8e",
        "type": "mqtt out",
        "z": "977b3b5d75051a55",
        "name": "",
        "topic": "esp32_103268/leds",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1f60e74d70ca822d",
        "x": 550,
        "y": 280,
        "wires": []
    },
    {
        "id": "c7dbc5e6e21dfeca",
        "type": "change",
        "z": "977b3b5d75051a55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Start1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 280,
        "wires": [
            [
                "48da84b09e639e8e"
            ]
        ]
    },
    {
        "id": "c94a56aaca2cac16",
        "type": "mqtt out",
        "z": "977b3b5d75051a55",
        "name": "",
        "topic": "esp32_103268/leds",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1f60e74d70ca822d",
        "x": 970,
        "y": 460,
        "wires": []
    },
    {
        "id": "3199b1c6e5e3db70",
        "type": "delay",
        "z": "977b3b5d75051a55",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 340,
        "wires": [
            [
                "e5dd59beb64c0026"
            ]
        ]
    },
    {
        "id": "b8f90a464d79f3dd",
        "type": "function",
        "z": "977b3b5d75051a55",
        "name": "function 25",
        "func": "if (msg.payload1 & msg.payload2){\nmsg.payload = 'Start2';\n}\n\nelse if (msg.payload){\n\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 440,
        "wires": [
            [
                "c94a56aaca2cac16"
            ]
        ]
    },
    {
        "id": "c363f244e1cf998b",
        "type": "change",
        "z": "977b3b5d75051a55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload1",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 440,
        "wires": [
            [
                "b8f90a464d79f3dd",
                "18def4c319a3c743"
            ]
        ]
    },
    {
        "id": "e5dd59beb64c0026",
        "type": "change",
        "z": "977b3b5d75051a55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload2",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 400,
        "wires": [
            [
                "b8f90a464d79f3dd"
            ]
        ]
    },
    {
        "id": "d7d40c8f4dccef59",
        "type": "change",
        "z": "977b3b5d75051a55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload1",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 480,
        "wires": [
            [
                "b8f90a464d79f3dd"
            ]
        ]
    },
    {
        "id": "10b3a17127cc34c3",
        "type": "switch",
        "z": "977b3b5d75051a55",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "FF0000000000",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "FF0000000000",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 420,
        "wires": [
            [
                "c363f244e1cf998b"
            ],
            [
                "d7d40c8f4dccef59"
            ]
        ]
    },
    {
        "id": "211dac194713b72e",
        "type": "mysql",
        "z": "977b3b5d75051a55",
        "mydb": "5a48f9df701e4276",
        "name": "",
        "x": 360,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "18def4c319a3c743",
        "type": "change",
        "z": "977b3b5d75051a55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Start2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 480,
        "wires": [
            [
                "c94a56aaca2cac16"
            ]
        ]
    },
    {
        "id": "b7457307100c955a",
        "type": "function",
        "z": "977b3b5d75051a55",
        "name": "function 27",
        "func": "msg.topic = 'INSERT INTO mariabikes(Estado,Operador,SuporteMatricula,CalipersR,RodaR,Escora,Postoassento,CalipersF,RodaF,Forquilha,ApoioGuiador,ManeteTravao,Acelerador,Guiador,Selim,FarolR,Controlador,Bateria,Interruptor,Display,Mirrors,FarolF,Cor)  SELECT Estado,Operador,SuporteMatricula,CalipersR,RodaR,Escora,Postoassento,CalipersF,RodaF,Forquilha,ApoioGuiador,ManeteTravao,Acelerador,Guiador,Selim,FarolR,Controlador,Bateria,Interruptor,Display,Mirrors,FarolF,Cor FROM pendentes ORDER BY ID ASC LIMIT 1';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 700,
        "wires": [
            [
                "211dac194713b72e"
            ]
        ]
    },
    {
        "id": "7151e59cd9cf1c91",
        "type": "function",
        "z": "977b3b5d75051a55",
        "name": "function 29",
        "func": "msg.topic = `UPDATE mariabikes SET TAG='${msg.payload}' ORDER BY ID DESC LIMIT 1`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 680,
        "wires": [
            [
                "d9cedd8c5828596e"
            ]
        ]
    },
    {
        "id": "d9cedd8c5828596e",
        "type": "mysql",
        "z": "977b3b5d75051a55",
        "mydb": "5a48f9df701e4276",
        "name": "",
        "x": 900,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "532a6dc3d8b3be7a",
        "type": "switch",
        "z": "977b3b5d75051a55",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "FF0000000000",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 640,
        "wires": [
            [
                "7151e59cd9cf1c91",
                "bffed56f5b90f531"
            ]
        ]
    },
    {
        "id": "bffed56f5b90f531",
        "type": "debug",
        "z": "977b3b5d75051a55",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 720,
        "wires": []
    },
    {
        "id": "25405ef446dcbc09",
        "type": "mysql",
        "z": "0cc03acebd801cd4",
        "d": true,
        "mydb": "5a48f9df701e4276",
        "name": "",
        "x": 530,
        "y": 180,
        "wires": [
            [
                "60540c54c290a148"
            ]
        ]
    },
    {
        "id": "ca3146fb37892d91",
        "type": "change",
        "z": "0cc03acebd801cd4",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SELECT * FROM Credenciais",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 120,
        "wires": [
            [
                "25405ef446dcbc09"
            ]
        ]
    },
    {
        "id": "60540c54c290a148",
        "type": "function",
        "z": "0cc03acebd801cd4",
        "d": true,
        "name": "function 10",
        "func": "let valida = false;\nglobal.credencial = global.credencial.split(';');\nfor (let i = 0; i<msg.payload.length; i++){\n    if (msg.payload[i].Nome==global.credencial[0] && msg.payload[i].Password==global.credencial[1]){\n        valida = true;\n        break;\n    }\n}\n\nmsg.res = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 180,
        "wires": [
            [
                "6f9c25a274aeda95"
            ]
        ]
    },
    {
        "id": "488acd4cad00aed4",
        "type": "inject",
        "z": "0cc03acebd801cd4",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Mestre;123",
        "payloadType": "str",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "2d3de4dcf002a7b9"
            ]
        ]
    },
    {
        "id": "6f9c25a274aeda95",
        "type": "debug",
        "z": "0cc03acebd801cd4",
        "d": true,
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "2d3de4dcf002a7b9",
        "type": "change",
        "z": "0cc03acebd801cd4",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "credencial",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 80,
        "wires": [
            [
                "ca3146fb37892d91",
                "9f13299e262f458f"
            ]
        ]
    },
    {
        "id": "9f13299e262f458f",
        "type": "debug",
        "z": "0cc03acebd801cd4",
        "d": true,
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 60,
        "wires": []
    },
    {
        "id": "bef845a41a86b9d8",
        "type": "change",
        "z": "0cc03acebd801cd4",
        "d": true,
        "name": "Add operador to Operadores in maxID = posto1",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "UPDATE Pendentes SET Operador(es) = CONCAT(Operador(es),', ', msg.payload) WHERE min(ID)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 340,
        "wires": [
            [
                "1c2a4c56817e33bb"
            ]
        ]
    },
    {
        "id": "1c2a4c56817e33bb",
        "type": "mysql",
        "z": "0cc03acebd801cd4",
        "d": true,
        "mydb": "5a48f9df701e4276",
        "name": "",
        "x": 740,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "11068226610da2bb",
        "type": "change",
        "z": "0cc03acebd801cd4",
        "d": true,
        "name": "Add operador to Operadores in maxID = posto2",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "UPDATE Pendentes SET Operador(es) = CONCAT(Operador(es),', ', msg.payload) WHERE max(ID)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 400,
        "wires": [
            [
                "6d35f272e81c0bbe"
            ]
        ]
    },
    {
        "id": "6d35f272e81c0bbe",
        "type": "mysql",
        "z": "0cc03acebd801cd4",
        "d": true,
        "mydb": "5a48f9df701e4276",
        "name": "",
        "x": 740,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "2de8814eb58dcd35",
        "type": "mqtt in",
        "z": "0cc03acebd801cd4",
        "d": true,
        "name": "",
        "topic": "MITloginoperador1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60e74d70ca822d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 340,
        "wires": [
            [
                "bef845a41a86b9d8"
            ]
        ]
    },
    {
        "id": "1de4d3a0535b4c66",
        "type": "mqtt in",
        "z": "0cc03acebd801cd4",
        "d": true,
        "name": "",
        "topic": "MITloginoperador2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f60e74d70ca822d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "11068226610da2bb"
            ]
        ]
    }
]